body{
  background-color: White;
    font-family: 'Century Gothic', Papyrus, sans, sans-serif, serif, monospace;
  color: Navy;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

li{
  float: left;
}

li a{
  display: block;
  color: Silver;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 25px;
  text-decoration: none;
}

li a:hover{
  color: lightblue;
}

nav a{
  background-color: white;
  padding: 20px 40px;
  margin: 0;
  overflow: hidden;
}

img{
  width: 150px;
    height: 150px;
}

.flex-container{
  
}

.flex-item{
  padding: 25px;
}
